.container--big {
	max-width: 1920px;
	margin: 0 auto;
	width: 100%;
	padding-left: 300px;
	position: relative;
	@media (max-width: 1320px) {
		padding-left: 0;
	}
}

.container {
	max-width: 1620px;
	padding: 0 60px;
	margin: 0 auto;
	@media (max-width: 1320px) {
		padding-left: 40px;
		padding-right: 40px;
	}
	@media (max-width: 576px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}
.swiper-button-disabled {
	display: none;
}

html,
body {
	font-size: 18px;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.main {
	flex: 1 1 auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0 0 0 0);
}

.disable-scroll {
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.dev {
	color: #632c33;
}

.help-img {
	visibility: hidden;
	opacity: 0;
	width: 100%;
	height: auto;
	display: block;
}

.flex-help {
	overflow: hidden !important;
	visibility: hidden !important;
	opacity: 0 !important;
	height: 0 !important;
	max-height: 0 !important;
	min-height: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.lang {
	display: flex;
	align-items: center;
	min-height: 42px;
	// .lang__item
	&__item {
		font-size: 12px;
		line-height: lh(15, 12);
		color: #000000;
		position: relative;
		cursor: pointer;
		&:not(:last-child) {
			margin-right: 23px;
		}

		&--active {
			&::after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				width: 42px;
				height: 42px;
				border: 1px solid #d2b6a8;
				border-radius: 100%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

.btn {
	padding: 10px 15px;
	font-size: 18px;
	line-height: 1.56;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	text-transform: uppercase;
}

.title {
	font-family: "Bradobrei";
	font-size: 36px;
	line-height: 1.28;
	text-transform: uppercase;
	color: #aa8f82;
}

.title-2 {
	font-family: "Bradobrei";
	font-size: 30px;
	line-height: 1.33;
	text-transform: uppercase;
	@media (max-width: 1920px) {
		@include adaptiv(font-size, 30, 23, 1920, 1320);
	}
	@media (max-width: 1320px) {
		@include adaptiv(font-size, 27, 15, 1920, 320);
	}
}

div.wpcf7-response-output,
div.wpcf7-validation-errors,
div.wpcf7 .ajax-loader {
	display: none !important;
}

span.wpcf7-not-valid-tip {
	display: none;
}

.alertify-notifier {
	z-index: 99997;
}

.wpcf7-not-valid {
	border-color: red !important;
}

input[type="submit"] {
	cursor: pointer;
}

.cross {
	width: 20px;
	height: 16px;
	flex: 0 0 20px;
	position: relative;
	background-color: transparent;

	&::after,
	&::before {
		content: "";
		position: absolute;
		background: #000;
	}
	&::after {
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 100%;
		height: 2px;
	}
	&::before {
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 2px;
		height: 100%;
	}
}

.to-cart {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	background: #aa8f82;
	border: 1px solid #ffffff;
	// opacity: 0;
	// visibility: hidden;
	transition: all 0.3s;

	position: absolute;
	bottom: 6px;
	left: 6px;
	width: 195px;
	height: 195px;

	// .to-cart__icon
	&__icon {
		width: 46px;
		height: 46px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
	// .to-cart__text
	&__text {
		margin-top: 15px;
		font-size: 16px;
		text-transform: uppercase;
		color: #ffffff;
	}
}

// Анимации

@keyframes gallery {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
