.third {
	padding-top: 167px;
	padding-bottom: 122px;
	background: $dark-red;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		bottom: 68px;
		right: 0;
		width: 57.6%;
		height: calc(100% + 493px);
		background: url("../img/main-decor.png") bottom right / contain no-repeat;
	}
	// .third__flex
	&__flex {
		display: flex;
		position: relative;
		z-index: 2;
	}
	// .third__left
	&__left {
		margin-right: 126px;
		max-width: 654px;
		width: 100%;
	}
	// .third__title
	&__title {
		margin-bottom: 20px;
		color: #fff;
	}
	// .third__content
	&__content {
		color: #fff;
	}
	// .third__right
	&__right {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	// .third__btn
	&__btn {
		min-height: 65px;
		width: 328px;
		color: #fff;
		border: 1px solid #ffffff;
	}
}
