.type-style {
	h1 {
		font-family: "Bradobrei";
		font-size: 36px;
		line-height: 1.28;
		text-transform: uppercase;
		margin-bottom: 35px;
		@media (max-width: 1200px) {
			@include adaptiv(font-size, 36, 25, 1200, 320);
		}
		@media (max-width: 992px) {
			@include adaptiv(margin-bottom, 35, 23, 992, 320);
		}
	}
	p,
	h2,
	h3,
	h4,
	h5,
	h6,
	ul,
	ol,
	.table {
		margin-bottom: 25px;
		@media (max-width: 992px) {
			@include adaptiv(margin-bottom, 25, 15, 992, 320);
		}
	}
	p {
		font-size: 20px;
		line-height: 1.5;
		@media (max-width: 1520px) {
			@include adaptiv(font-size, 20, 16, 1520, 320);
		}
	}

	h2 {
		font-family: "Bradobrei";
		font-size: 30px;
		line-height: 1.25;
		text-transform: uppercase;
		@media (max-width: 1520px) {
			@include adaptiv(font-size, 30, 16, 1520, 320);
		}
	}

	h3 {
		font-weight: 700;
		font-size: 30px;
		line-height: 1.5;
		text-transform: uppercase;
		@media (max-width: 1520px) {
			@include adaptiv(font-size, 30, 16, 1520, 320);
		}
	}

	h4 {
		font-family: "Bradobrei";
		font-weight: 400;
		font-size: 24px;
		line-height: 1.5;
		text-transform: uppercase;
		@media (max-width: 1520px) {
			@include adaptiv(font-size, 24, 15, 1520, 320);
		}
	}

	h5 {
		font-weight: 700;
		font-size: 16px;
		line-height: lh(24, 16);
		text-transform: uppercase;
		@media (max-width: 992px) {
			@include adaptiv(font-size, 16, 13, 992, 320);
		}
	}
	ul,
	ol {
		margin-bottom: 23px;
		li {
			font-size: 20px;
			line-height: 1.5;
			@media (max-width: 1520px) {
				@include adaptiv(font-size, 20, 16, 1520, 320);
			}
			&:not(:last-child) {
				margin-bottom: 15px;
				@media (max-width: 992px) {
					@include adaptiv(margin-bottom, 15, 7, 992, 320);
				}
			}
		}
	}

	ul li {
		position: relative;
		padding-left: 10px;
		&::before {
			content: "";
			position: absolute;
			top: 0.6em;
			left: 0;
			width: 4px;
			height: 4px;
			border-radius: 100%;
			background-color: $hover-text;
			overflow: hidden;
		}
	}
	ol {
		counter-reset: info;
		list-style-type: none;
		li {
			position: relative;
			padding-left: 30px;
		}
		li::before {
			counter-increment: info;
			content: counter(info) "/";
			position: absolute;
			top: 0.05em;
			left: 0;
			color: $hover-text;
		}
	}
	.table {
		overflow-x: auto;
		&.on-grey {
			tr:nth-child(2n + 1) {
				background: #fff;
			}
			tr {
				background: #f4f4f4;
			}
			td {
				border-left: 3px solid #f4f4f4;
				border-right: 3px solid #f4f4f4;
				&:first-child {
					border-left: none;
				}
				&:last-child {
					border-right: none;
				}
			}
		}
	}
	table {
		border-collapse: collapse;
		width: 100%;
		min-width: 420px;
		font-size: 16px;
		@media (max-width: 768px) {
			font-size: 15px;
		}
		@media (max-width: 425px) {
			font-size: 14px;
		}
		tr:first-child th:first-child {
			background: #632c33;
		}
		th {
			padding: 15px 30px;
			line-height: 1.62;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: #ffffff;
			border-left: 3px solid #fff;
			border-right: 3px solid #fff;
			border-bottom: 3px solid #fff;
			background: #aa8f82;
			text-align: left;
			font-weight: 700;
			@media (max-width: 992px) {
				padding: 10px 20px;
			}
			@media (max-width: 768px) {
				padding: 10px 15px;
			}
			&:first-child {
				border-left: none;
			}
			&:last-child {
				border-right: none;
			}
		}
		td {
			padding: 30px 30px;
			line-height: 1.8;
			color: #000;
			border-left: 3px solid #fff;
			border-right: 3px solid #fff;
			@media (max-width: 992px) {
				padding: 10px 20px;
			}
			@media (max-width: 768px) {
				padding: 10px 15px;
			}
			&:first-child {
				border-left: none;
			}
			&:last-child {
				border-right: none;
			}
		}
		tr {
			background: #fff;
		}
		tr:nth-child(2n + 1) {
			background: #f4f4f4;
		}
	}
}
