.hero {
	// .hero__container
	&__container {
		position: relative;
		display: flex;
		background: $main-bg;
	}
	// .hero__top
	&__top {
	}
	// .hero__slider
	&__slider {
		overflow: hidden;
		@media (max-width: 626px) {
			margin: 0 -40px;
		}
	}
	// .hero__slide
	&__slide {
	}
	// .hero__control
	&__control {
	}
	// .hero__slide-title
	&__slide-title {
	}

	&__btn-p,
	&__btn-n {
		position: absolute;
		top: 50%;

		background: url("../img/hero-slider-arrow.svg") center / contain no-repeat;
		z-index: 6;
		width: 16px;
		height: 31px;
	}
	&__btn-p {
		left: 10px;
		transform: translateY(-50%) rotate(180deg);
	}
	&__btn-n {
		right: 10px;
		transform: translateY(-50%);
	}
}

.top-hero {
	position: absolute;
	top: 124px;
	left: 0;
	z-index: 3;
	padding-left: 122px;
	@media (max-width: 1920px) {
		@include adaptiv(padding-left, 122, 39, 1920, 1320);
		@include adaptiv(top, 124, 50, 1920, 1320);
	}
	@media (max-width: 1320px) {
		@include adaptiv(top, 98, 50, 1320, 320);
		padding-left: 40px;
	}
	@media (max-width: 576px) {
	}
	// .top-hero__title
	&__title {
		margin-bottom: 25px;
		font-family: "Bradobrei";
		font-size: 72px;
		line-height: 1.14;
		text-transform: uppercase;
		color: #ffffff;
		@media (max-width: 1920px) {
			@include adaptiv(font-size, 72, 60, 1920, 1320);
		}
		@media (max-width: 1320px) {
			@include adaptiv(font-size, 72, 32, 1320, 320);
			@include adaptiv(margin-bottom, 25, 12, 1320, 320);
		}
		@media (max-width: 706px) {
			line-height: 1.28;
		}
	}
	// .top-hero__subtitle
	&__subtitle {
		font-family: "Bradobrei";
		font-size: 72px;
		line-height: 1.14;
		text-transform: uppercase;
		color: #ffffff;
		@media (max-width: 1920px) {
			@include adaptiv(font-size, 72, 60, 1920, 1320);
		}
		@media (max-width: 1320px) {
			@include adaptiv(font-size, 72, 32, 1320, 320);
		}
		@media (max-width: 706px) {
			line-height: 1.28;
		}
	}
}
.swiper-wrapper {
}
.swiper-slide {
}
.slide-hero {
	display: flex;

	// .slide-hero__left
	&__left {
	}
	// .slide-hero__right
	&__right {
	}
}
.left-slide-hero {
	display: flex;
	align-items: flex-end;
	margin-right: 60px;
	position: relative;
	padding-top: 202px;
	padding-bottom: 25px;
	flex: 0 0 32.5%;

	@media (max-width: 1100px) {
		margin-right: 40px;
	}
	@media (max-width: 992px) {
		padding-bottom: 110px;
		padding-top: 150px;
	}
	@media (max-width: 626px) {
		display: none;
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 76%;
		background: url("../img/slider-bg.jpg") center / cover no-repeat;
	}
	// .left-slide-hero__img
	&__img {
		position: relative;
		z-index: 1;
		padding-bottom: 171%;
		width: 100%;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center;
			font-family: "object-fit: contain; object-position: center;";
		}
	}
}
.right-slide-hero {
	padding-top: 57px;
	position: relative;
	display: flex;
	align-items: flex-end;
	@media (max-width: 1320px) {
		padding-top: 40px;
	}
	@media (max-width: 626px) {
		flex: 0 0 100%;
		padding-top: 0;
	}
	// .right-slide-hero__img
	&__img {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: relative;
	}
	// .right-slide-hero__btn
	&__btn {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #ffffff;
		border: 1px solid #ffffff;
		min-height: 65px;
		width: 328px;
		@media (max-width: 1520px) {
			font-size: 17px;
			width: 290px;
			min-height: 55px;
		}
		@media (max-width: 992px) {
			top: 64%;
			font-size: 16px;
			width: 270px;
			min-height: 50px;
		}
		@media (max-width: 768px) {
			top: 70%;
			font-size: 14px;
			width: 234px;
			min-height: 40px;
		}
		@media (max-width: 420px) {
			top: auto;
			bottom: 60px;
			left: 40px;
			transform: translate(0, 0);
		}
	}
}

.control-hero {
	flex: 0 0 212px;
	padding-bottom: 65px;
	margin-right: 40px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	@media (max-width: 1100px) {
		font-size: 16px;
		flex: 0 0 200px;
		margin-right: 30px;
	}
	@media (max-width: 992px) {
		position: absolute;
		bottom: 0;
		left: 40px;
		z-index: 2;
		padding-bottom: 40px;
		max-width: 212px;
	}
	@media (max-width: 420px) {
		padding-bottom: 0;
		bottom: 160px;
		margin-right: 0;
		left: 20px;
	}
	// .control-hero__text
	&__text {
		margin-bottom: 38px;
		font-size: 18px;
		line-height: 1.56;
		color: #ffffff;
		@media (max-width: 1100px) {
			font-size: 16px;
		}
		@media (max-width: 992px) {
			margin-bottom: 0;
		}
	}
	// .control-hero__pagination
	&__pagination {
		display: flex;
		.swiper-pagination-bullet {
			width: auto;
			height: auto;
			display: block;
			background: transparent;
			border-radius: 0;
			position: relative;
			padding-top: 82px;
			font-size: 18px;
			color: #ffffff;
			opacity: 1;
			transition: 0.3s;
			span {
				opacity: 0;
				transition: 0.3s;
			}
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 50%;
				width: 1px;
				height: 35px;
				background: #fff;
				transition: 0.3s;
				opacity: 0.5;
			}
			&:not(:last-child) {
				margin-right: 10px;
			}
		}

		.swiper-pagination-bullet-active {
			&::before {
				height: 70px;
				opacity: 1;
			}
			span {
				opacity: 1;
			}
		}
		@media (max-width: 992px) {
			display: none;
		}
	}
}
