.hero {
	// .hero__container
	&__container {
		position: relative;
		display: flex;
		background: $main-bg;
	}
	// .hero__top
	&__top {
	}
	// .hero__slider
	&__slider {
		overflow: hidden;
	}
	// .hero__slide
	&__slide {
	}
	// .hero__control
	&__control {
	}
	// .hero__slide-title
	&__slide-title {
	}
}

.top-hero {
	position: absolute;
	top: 124px;
	left: 0;
	z-index: 3;
	padding-left: 122px;
	// .top-hero__title
	&__title {
		margin-bottom: 25px;
		font-family: "Bradobrei";
		font-size: 72px;
		line-height: 1.14;
		text-transform: uppercase;
		color: #ffffff;
	}
	// .top-hero__subtitle
	&__subtitle {
		font-family: "Bradobrei";
		font-size: 72px;
		line-height: 1.14;
		text-transform: uppercase;
		color: #ffffff;
	}
}
.swiper-wrapper {
}
.swiper-slide {
}
.slide-hero {
	display: flex;
	// .slide-hero__left
	&__left {
	}
	// .slide-hero__right
	&__right {
	}
}
.left-slide-hero {
	margin-right: 60px;
	position: relative;
	padding-top: 202px;
	padding-bottom: 25px;
	width: 39%;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 76%;
		background: url("../img/slider-bg.jpg") center / cover no-repeat;
	}
	// .left-slide-hero__img
	&__img {
		position: relative;
		z-index: 1;
	}
}
.right-slide-hero {
	padding-top: 57px;
	position: relative;
	display: flex;
	align-items: flex-end;
	// .right-slide-hero__img
	&__img {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: relative;
	}
	// .right-slide-hero__btn
	&__btn {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #ffffff;
		border: 1px solid #ffffff;
		min-height: 65px;
		width: 328px;
	}
}

.control-hero {
	max-width: 212px;
	width: 100%;
	padding-bottom: 65px;
	margin-right: 40px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	// .control-hero__text
	&__text {
		margin-bottom: 38px;
		font-size: 18px;
		line-height: 1.56;
		color: #ffffff;
	}
	// .control-hero__pagination
	&__pagination {
		display: flex;
		.swiper-pagination-bullet {
			width: auto;
			height: auto;
			display: block;
			background: transparent;
			border-radius: 0;
			position: relative;
			padding-top: 82px;
			font-size: 18px;
			color: #ffffff;
			opacity: 0.5;
			transition: 0.3s;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 50%;
				width: 1px;
				height: 35px;
				background: #fff;
				transition: 0.3s;
			}
			&:not(:last-child) {
				margin-right: 10px;
			}
		}

		.swiper-pagination-bullet-active {
			opacity: 1;
			&::before {
				height: 70px;
			}
		}
	}
}
